[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"
  VITE_API_BASE_URL = "https://jokefactory-be.onrender.com"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

